.services-c {
  background-color: #040405;
  height: 500px; 
  display: flex;
  align-items: center;
}

.services-c .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  width: 100%;

}

.services-c .service-grid-container {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-auto-rows: 300px;
  max-width: 1000px;
  width: 100%;
  grid-gap: 15px;
  justify-content: center;
}

.services-c .service-grid-container .card {
  background-color: #09090b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px 2px;
}
.services-c .service-grid-container .card:hover {
  border: solid 1px #047c3f;
}

.services-c .service-grid-container .card h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #d1d1d1;
  margin-bottom: 20px;
}

.services-c .service-grid-container .card p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #d1d1d1;
  width: 250px;
  text-align: center;
}

.services-c .service-grid-container .card button {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  background-color: #047c3f;
  width: 200px;
  outline: none;
  border: none;
  height: 40px;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
}

.services-c h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 50px;
}

.services-c span {
  color: #047c3f;
}

.services-c .container-icon {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services-c .container-icon i {
  color: #d1d1d1;
  font-size: 30px;
}

@media (max-width: 768px) {
  .services-c {
    padding-top: 60px;
    padding-bottom: 60px;
    height: 100%;
  }

  .services-c h2 {
    margin-bottom: 20px;
  }
  .services-c .service-grid-container {
    display: block;
    width: 300px;
  }

  .services-c .service-grid-container .card {
    margin-bottom: 20px;
    height: 190px;
  }
}
