.about-c {
  background-color: #09090b;
}

.about-c .container {
  display: flex;
  height: 500px;
  width: 100%;
}

.about-c h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 30px;
}

.about-c p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #d1d1d1;
  width: 100%;
  max-width: 500px;
  line-height: 24px;
  text-align: left;
}

.about-c span {
  color: #047c3f;
}

.about-c img {
  width: 50%;
  height: 70%;
  border-radius: 50%;
}

.about-c .img-user {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-c .about-user {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media (min-width: 300px) and (max-width: 1199px) {
  .about-c {
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .about-c .img-user {
    width: 50%;
  }

  .about-c .about-user {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .about-c h2 {
    text-align: center;
    margin-top: 30px;
  }

  .about-c p {
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .about-c .container {
    flex-direction: column;
    height: 100%;
  }
}
