.contact-c {
  background-color: #040405;
  height: 500px;
  display: flex;
  align-items: center;
}

.contact-c .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.contact-c .contact-grid-container {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  grid-auto-rows: 300px;
  max-width: 1000px;
  width: 100%;
  grid-gap: 20px;
  justify-content: center;
}

.contact-c .contact-grid-container .card {
  background-color: #09090b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px 2px;
}

.contact-c .contact-grid-container .card a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 100%;
  width: 100%;
}

.contact-c .contact-grid-container .card:hover {
  border: solid 1px #047c3f;
}

.contact-c .contact-grid-container .card h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  color: #d1d1d1;
  margin-bottom: 10px;
}

.contact-c .contact-grid-container .card p {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #d1d1d1;
  text-align: center;
}

.contact-c h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 50px;
}


.contact-c .container-icon {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.contact-c .container-icon i {
  color: #d1d1d1;
  font-size: 30px;
}

@media (max-width: 768px) {
  .contact-c {
    padding-top: 60px;
    padding-bottom: 60px;
    height: 100%;
  }

  .contact-c h2 {
    margin-bottom: 20px;
  }

  .contact-c .contact-grid-container .card {
    margin-bottom: 20px;
  } 

  .contact-c .contact-grid-container {
    width: 300px; 
    grid-template-columns: 400px 400px;
  }
}

@media (min-width: 300px) and (max-width: 600px) {
  .contact-c .contact-grid-container {
    display: block;
    width: 300px;
  } 

  .contact-c .contact-grid-container .card {
    margin-bottom: 30px;
    height: 190px;
  } 

}
 


@media (min-width: 800px) and (max-width: 1300px) {
  .contact-c {
    padding-top: 60px;
    padding-bottom: 60px;
    height: 100%;
  }

  .contact-c h2 {
    margin-bottom: 20px;
  }

  .contact-c .contact-grid-container .card {
    margin-bottom: 20px;
  } 

  .contact-c .contact-grid-container {
    width: 300px; 
    grid-template-columns: 400px 400px;
  }

}

