.project-c {
  background-color: #09090b;
  height: 100%;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
}

.project-c .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project-c .project-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  grid-auto-rows: 300px;
  max-width: 1000px;
  width: 100%;
  grid-gap: 15px;
  margin-bottom: 20px;
}

.project-c .project-grid-container .card {
  background-color: #040405;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px 2px;
}

.project-c .project-grid-container .card h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #d1d1d1;
  margin-bottom: 20px;
}

.project-c .project-grid-container .card p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #d1d1d1;
  margin-bottom: 30px;
  width: 250px;
}

.project-c .project-grid-container .card a {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  background-color: #047c3f;
  width: 200px;
  outline: none;
  border: none;
  height: 40px;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.project-c h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 50px;
}

.project-c span {
  color: #047c3f;
}

.project-c .button-view-more {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: #d1d1d1;
  width: 200px;
  outline: none;
  border: none;
  height: 45px;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 60px;
  background-color: #09090b;
  border: solid 1px #d1d1d1;
}

.project-c .button-view-more:active {
  background-color: #047c3f;
  border: none;
}

@media (max-width: 768px) {
  .project-c {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media (min-width: 300px) and (max-width: 1199px) {
  .project-c .project-grid-container {
    width: 80%;
  }
  .project-c .project-grid-container .card {
    margin-bottom: 20px;
  }
}
