.header {
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: #040405;
}

.header li a {
  color: #d1d1d1;
}

.header p {
  color: #fff;
}

.header .logo h3 {
  color: #047c3f;
}

.scroll-active-header {
  background-color: #fff;
}

.scroll-active-menu-header button{
  color: #1e1616 !important;
}

.scroll-active-header li a {
  color: #040405;
  font-weight: 600;
}

.scroll-active-header p {
  color: #1e1616;
}

.scroll-active-header .logo h3 {
  color: #040405;
}

.nav-c {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding-left: 60px;
  padding-right: 30px;
  border-bottom: solid 0.2px #1e1616;
}

.nav-c .logo h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
}

.nav-c .logo {
  display: flex;
  align-items: center;
}

.nav-c .logo p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin-left: 10px;
}

.nav-c ul {
  list-style: none;
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.nav-c li a {
  margin: 0px 15px;
  cursor: pointer;
  text-decoration: none;
}

.nav-c li a:hover {
  color: #047c3f;
  font-weight: bold;
}

.nav-c .dropdown {
  position: relative;
}

.nav-c .dropdown button {
  height: 50px;
  width: 50px;
  font-size: 24px;
  outline: none;
  background: transparent;
  color: #fff;
}

.nav-c .menu-items {
  position: absolute;
  right: 0px;
  top: 79px;
  background: #fff;
  width: 100%;
}

.nav-c .menu-items ul {
  display: block;
}

.nav-c .menu-items li {
  height: 49px;
}

.nav-c .menu-items li a:hover {
  background-color: #f2f2f2; 
}

.nav-c .menu-items li a {
  color: #1e1616;
  font-weight: 600 !important;
  width: 100%;
  height: 100%; 
  display: flex;
  align-items: center;  
  padding-left: 12px;
  margin: 0px;

}

@media (max-width: 768px) {
  .nav-c {
    flex-direction: row;
  }

  .nav-c ul {
    display: none;
  }
}

@media (max-width: 768px) {
  .nav-c {
    flex-direction: row;
    padding-left: 30px;
  }

  .nav-c ul {
    display: none;
  }

  .nav-c .dropdown {
    display: block;
  }
}

@media (max-width: 769px) {
  .nav-c ul {
    display: none;
  }
}

@media (min-width: 770px) {
  .nav-c .dropdown {
    display: none;
  }

  .nav-c .menu-items {
    display: none;
  }
}

@media (min-width: 770px) and (max-width: 800px) {
  .nav-c li {
    font-size: 15px;
  }
}
