* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-margin-top: 100px;
}

::-webkit-scrollbar-track {
  background-color: #040405;
}
::-webkit-scrollbar {
  width: 6px;
  height: 1px;
}
::-webkit-scrollbar-thumb {
  background-color: #047c3f;
}

