* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar-track {
  background-color: #040405;
}
::-webkit-scrollbar {
  width: 6px;
  height: 1px;
}
::-webkit-scrollbar-thumb {
  background-color: #047c3f;
}
/* Navbar*/
.header {
  position: fixed;
  width: 100%;
}
.nav-c {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #040405;
  padding-left: 60px;
  padding-right: 30px;
  border-bottom: solid 0.2px #1e1616;
}

.nav-c .logo h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #047c3f;
}

.nav-c .logo {
  display: flex;
  align-items: center;
}

.nav-c .logo p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  margin-left: 10px;
}

.nav-c ul {
  list-style: none;
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.nav-c li {
  margin: 0px 15px;
  color: #d1d1d1;
  cursor: pointer;
}

.nav-c li:hover {
  color: #047c3f;
  font-weight: bold;
}

/*Home*/

.initial-c {
  background-color: #040405;
  height: 550px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 60px;
  padding-top: 60px;
}

.initial-c span {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: #fff;
}

.initial-c h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #047c3f;
}

.initial-c h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #fff;
}

.initial-c p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #d1d1d1;
  margin-top: 30px;
  max-width: 900px;
  width: 100%;
  margin-bottom: 30px;
  line-height: 22px;
}

.initial-c button {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #d1d1d1;
  height: 50px;
  width: 200px;
  border-radius: 4px;
  cursor: pointer;
  border: solid 1px #d1d1d1;
  background-color: #040405;
}

.initial-c button:hover {
  background-color: #047c3f;
  border: none;
}

/*About*/

.about-c {
  background-color: #09090b;
  height: 500px;
  width: 100%;
  display: flex;
}

.about-c h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 30px;
}

.about-c p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #d1d1d1;
  width: 100%;
  max-width: 500px;
  line-height: 24px;
}

.about-c span {
  color: #047c3f;
}

.about-c img {
  width: 50%;
  height: 70%;
  border-radius: 50%;
}

.about-c .img-user {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-c .about-user {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/*experience*/

.experience-c {
  background-color: #040405;
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.experience-c .experience-container-grid-main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.experience-c .experience-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 250px;
  width: 100%;
  margin-right: 50px;
}
.experience-c .experience-container-grid-main-data {
  display: flex;
}

.experience-c .experience-container-grid-main h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 30px;
}

.experience-c .experience-container .button-active {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background-color: #09090b;
  width: 100%;
  outline: none;
  border: none;
  height: 70px;
  text-align: left;
  padding-left: 20px;
  border-left: solid 5px #047c3f;
  cursor: pointer;
}

.experience-c .experience-container .button-default {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background-color: #09090b;
  width: 100%;
  outline: none;
  border: none;
  height: 70px;
  text-align: left;
  padding-left: 20px;
  cursor: pointer;
}

.experience-c .experience-container-grid-main span {
  color: #047c3f;
}

.experience-c .experience-companies {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.experience-c .experience-data {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  width: 100%;
}

.experience-c .experience-data p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #d1d1d1;
}

.experience-c .experience-data .experience-data-container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.experience-c
  .experience-data
  .experience-data-header
  .experience-data-container-header
  h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #d1d1d1;
}

.experience-c
  .experience-data
  .experience-data-header
  .experience-data-container-header
  h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #d1d1d1;
}

.experience-c .experience-data .experience-data-header h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #d1d1d1;
  margin-bottom: 20px;
}

/*project*/

.project-c {
  background-color: #09090b;
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project-c .project-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  grid-auto-rows: 300px;
  max-width: 1000px;
  width: 100%;
  grid-gap: 15px;
}

.project-c .project-grid-container .card {
  background-color: #040405;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px 2px;
}
.project-c .project-grid-container .card:hover {
  border: solid 1px #047c3f;
}

.project-c .project-grid-container .card h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #d1d1d1;
  margin-bottom: 40px;
}

.project-c .project-grid-container .card p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #d1d1d1;
  margin-bottom: 40px;
  width: 250px;
}

.project-c .project-grid-container .card button {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  background-color: #047c3f;
  width: 200px;
  outline: none;
  border: none;
  height: 40px;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
}

.project-c h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 50px;
}

.project-c span {
  color: #047c3f;
}

/*services*/

.services-c {
  background-color: #040405;
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.services-c .service-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  grid-auto-rows: 300px;
  max-width: 1000px;
  width: 100%;
  grid-gap: 15px;
}

.services-c .service-grid-container .card {
  background-color: #09090b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px 2px;
}
.services-c .service-grid-container .card:hover {
  border: solid 1px #047c3f;
}

.services-c .service-grid-container .card h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #d1d1d1;
  margin-bottom: 20px;
}

.services-c .service-grid-container .card p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #d1d1d1;
  width: 250px;
  text-align: center;
}

.services-c .service-grid-container .card button {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  background-color: #047c3f;
  width: 200px;
  outline: none;
  border: none;
  height: 40px;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
}

.services-c h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 50px;
}

.services-c span {
  color: #047c3f;
}

.services-c .container-icon {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services-c .container-icon i {
  color: #d1d1d1;
  font-size: 30px;
}

/*knowledge*/

.knowledge-c {
  background-color: #09090b;
  height: 800px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.knowledge-c .grid-skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  grid-auto-rows: 120px;
  max-width: 1000px;
  width: 100%;
  grid-gap: 20px;
}

.knowledge-c h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 50px;
}

.knowledge-c .card-skill h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: #d1d1d1;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.knowledge-c .card-skill {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.progress {
  width: 80px;
  height: 80px;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 700;
}

/*footer*/

.footer-c {
  background-color: #040405;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 60px;
  padding-right: 30px;
}
.footer-c h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #ffff;
}

.footer-c ul {
  display: flex;
  list-style: none;
  align-items: center;
  height: 40px;
  justify-content: center;
}

.footer-c li a{
  color: #d1d1d1;
  margin: 0px 10px;
  cursor: pointer;
  font-size: 18px; 

}
 

.footer-c li a:hover{
  color: #047c3f;
  font-size: 30px;
}
