.initial-c {
  background-color: #040405;
  height: 630px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 60px;
}

.initial-c span {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: #fff;
}

.initial-c h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #047c3f;
}

.initial-c h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #fff;
}

.initial-c p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #d1d1d1;
  margin-top: 30px;
  max-width: 900px;
  width: 100%;
  margin-bottom: 30px;
  line-height: 22px;
  text-align: left;
}

.initial-c button {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #d1d1d1;
  height: 50px;
  width: 200px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #047c3f;
}

.initial-c p:after {
  content: "|";
  margin-left: 5px;
  opacity: 1;
  animation: flash 0.7s infinite;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.initial-c .grid-info-user {
  width: 50%;
}

.initial-c .grid-ebook {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: animate 1s infinite alternate;
  -webkit-animation: animate 1s infinite alternate;
}

.initial-c .grid-ebook img {
  height: 250px;
}

@keyframes animate {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-14px);
  }
}
@-webkit-keyframes animate {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

@keyframes flash {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.initial-c button:active {
  transform: translateY(8px);
}

@media  (max-width: 768px) {
  .initial-c {
    padding-left: 29px;
    padding-top: 60px;
    padding-right: 10px;
    flex-direction: column;
    height: 900px;
  }

  .initial-c .grid-ebook img {
    height: 150px;
  }

  .initial-c .grid-info-user{
    width: 100%;
    margin-bottom: 50px;
  }
}
 

@media (min-width: 770px) and (max-width: 1000px) {
  .initial-c .grid-ebook img {
    height: 150px;
  } 
}